.app{
    display: flex;
    flex-direction: column;
    background-color: #F4F0EB;
  
    .main {
      height: calc(100dvh - 72px);
      padding: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: scroll;
      ::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none; 
      scrollbar-width: none;
      scroll-behavior: smooth;
    }
  }