.footer {
    width: 100%;
    margin-top: 2rem;

    .footerText{
        padding: 4rem 0rem 1rem 0rem;
        background-color: #212529;
        color: rgb(247, 245, 238);
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
    }
}