.navbar {
    width: 100%;
    background-color: #212529;
    padding: 0rem;
    height: 4.5rem;
    // box-shadow: 0 2px 5px #0000004d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .navbar-container{

        .navbar-brand{ 
            font-weight: bold;
        }
        .right{
            color: white;
            font-size: 0.7rem;
        }
    }
}