.app{
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: rgb(247, 245, 238);

  // .top-bar{
  //   height: 4.8dvh;
  // }

  .main {
    height: calc(100dvh - 40px);
    // padding: 0rem 2rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    ::-webkit-scrollbar{
      display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}