.compose{
    display: flex;
    align-items: center;
    justify-content: center;

    h3{
        padding: 1rem 0rem;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}